.chicle-regular {
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
  }
  
body {
    display: flex;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    color: #ffffff;
    font-family: "Chicle", serif;
    overflow: hidden;
    animation: braindance 1s infinite;
}

h1  {
    font-size: 32px;
}

.poemes-title {
    animation: cooltext 0.5s infinite;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: fixed;
    border-radius: 12px;
    border: 2px solid rgba(255, 0, 102, 0.915);
    filter: drop-shadow(0 0 10px rgba(255, 0, 102, 0.915));
    width: 25%;
    bottom: 0;
    background-color: rgba(255, 0, 102, 0.7);
    margin-bottom: 10px;
    font-size: 32px;
    padding: 10px;
    animation: cooltext-alt 0.5s infinite;
}

.new {
    transform: rotate(-30deg);
    position: absolute;
    z-index: -5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    margin: 20px;
}
.new::after {
    content: "Cyberbaby Online !";
    position: absolute;
    bottom: 50;
    font-size: 32px;
    width: 128px;
    animation: cooltext-alt 0.5s infinite;
}

#sidepic {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    height: 50vh;
    width: 20%;
    background-image: url(OvO.webp);
    background-size: cover;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
    border: 2px solid rgba(255, 0, 102, 0.915);
    filter: drop-shadow(0 0 10px rgba(255, 0, 102, 0.91));
    pointer-events: none;
    z-index: -5;
    font-size: 64px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: cooltext 0.5s infinite;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-transform:uppercase;
}

@keyframes cooltext {
    0%,100% {
        text-shadow : 0 0 10px rgba(255, 89, 0, 0.91);
        text-decoration-color: rgba(255, 89, 0, 0.91);
        color: rgba(255, 89, 0, 0.91);
    }
    25% {
        text-shadow : 0 0 50px rgba(68, 255, 0, 0.91);
        text-decoration-color: rgba(68, 255, 0, 0.91);
        color: rgba(68, 255, 0, 0.91);
    }
    50% {
        text-shadow : 0 0 50px rgba(21, 0, 255, 0.91);
        text-decoration-color: rgba(21, 0, 255, 0.91);
        color: rgba(21, 0, 255, 0.91);
    }
    75% {
        text-shadow : 0 0 50px rgba(0, 229, 255, 0.91);
        text-decoration-color: rgba(0, 229, 255, 0.91);
        color: rgba(0, 229, 255, 0.91);
    }
}

@keyframes cooltext-alt {
    75% {
        text-shadow : 0 0 10px rgba(255, 89, 0, 0.91);
        text-decoration-color: rgba(255, 89, 0, 0.91);
        color: rgba(255, 89, 0, 0.91);
    }
    50% {
        text-shadow : 0 0 50px rgba(68, 255, 0, 0.91);
        text-decoration-color: rgba(68, 255, 0, 0.91);
        color: rgba(68, 255, 0, 0.91);
    }
    25% {
        text-shadow : 0 0 50px rgba(21, 0, 255, 0.91);
        text-decoration-color: rgba(21, 0, 255, 0.91);
        color: rgba(21, 0, 255, 0.91);
    }
    0%, 100% {
        text-shadow : 0 0 50px rgba(0, 229, 255, 0.91);
        text-decoration-color: rgba(0, 229, 255, 0.91);
        color: rgba(0, 229, 255, 0.91);
    }
}

@keyframes braindance {
    75% {
        background-color: rgba(255, 0, 102, 1);
    }
    50% {
        background-color: rgb(255, 102, 0);
    }
    25% {
        background-color: rgb(119, 176, 255);
    }
    0%, 100% {
        background-color: rgb(31, 255, 177)
    }
}